/* Iconos */
.icono-menu {

   -fx-cursor: hand;
    -fx-opacity: 0.85;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 120ms ease-in;
   /*  -fx-effect: innershadow(gaussian, white, 10, 0.5, 0, 0);
     -fx-opacity: 1; */
     -fx-blend-mode: screen;
}

.icono-menu:hover {
    -fx-opacity: 1.0;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
 /*  -fx-effect: innershadow(gaussian, white, 20, 1, 0, 0);*/
}

/* Etiquetas del menú */
.menu-label {
     -fx-text-fill: #BBBBBB;
        -fx-font-size: 17px;
        -fx-font-weight: normal;

        -fx-alignment: center;
        -fx-transition: all 120ms ease-in;

}

.menu-label:hover {

    -fx-text-fill: #FFFFFF;


        -fx-font-weight: bold;
        -fx-scale-x: 1.01;
        -fx-scale-y: 1.01;
}

.menu-item {
    -fx-pref-width: 400px;
    -fx-pref-height: 90px;
    -fx-padding: 10 15;
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-alignment: CENTER_LEFT;
    -fx-transition: all 200ms ease-in-out;
}

.menu-item:hover {
   -fx-background-color: #8EB83D;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 6, 0.3, 1, 1);
}

.sidebar {

    -fx-effect: dropshadow(gaussian, #000000, 20, 0.3, 2, 5);
}

.logo-image {

    -fx-opacity: 0.95; /* baja la intensidad */
    -fx-background-radius: 10;


    -fx-cursor: hand;
}

.logo-image:hover {
    -fx-opacity: 1.0;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


.log-out{

       -fx-text-fill: #BBBBBB;
        -fx-font-size: 17px;
        -fx-font-weight: normal;
        -fx-alignment: center;
        -fx-transition: all 120ms ease-in;

}


.logo-logout{
   -fx-cursor: hand;
       -fx-opacity: 0.85;
       -fx-scale-x: 1.2;
       -fx-scale-y: 1.2;
       -fx-transition: all 120ms ease-in;

        -fx-effect: innershadow(gaussian, white, 10, 0.5, 0, 0);
        -fx-opacity: 1;
        -fx-blend-mode: screen;

}

.menuLogOut-item {
    -fx-padding: 10 15;
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-alignment: CENTER_LEFT;
    -fx-transition: all 200ms ease-in-out;
}

.menuLogOut-item:hover {

   -fx-background-color: #e74c3c;
     -fx-effect: dropshadow(three-pass-box, red, 6, 0.3, 1, 1);
}

.logOut-label{


        -fx-text-fill: #BBBBBB;
        -fx-font-size: 16px;
        -fx-font-weight: normal;
        -fx-alignment: center;
        -fx-transition: all 120ms ease-in;

}

.tarjeta-menu {
    -fx-max-width: 420px; /* Limita el ancho máximo */
    -fx-max-height: 100px;
    -fx-min-width: 420px; /* (opcional) para que tampoco se encoja */
    -fx-min-height: 100px;

     -fx-pref-width: 420px;
      -fx-pref-height: 100px;

      /*-fx-background-color: #EDEDED;  */
      -fx-background-color: linear-gradient(to right, #D7CFCF, #B8A9A9, #A18C8C);

      -fx-background-radius: 12;

      -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 8, 0.3, 0, 2);
      -fx-padding: 15 20;
      -fx-cursor: hand;
      -fx-alignment: CENTER_LEFT;
      -fx-spacing: 12;
}

.tarjeta-menu:hover {

 /*-fx-background-color: linear-gradient(to left, #ECECEC, #DADADA);*/
-fx-background-color: linear-gradient(to right, #B8A9A9, #A18C8C, #7A6464);



    -fx-effect: dropshadow(gaussian, #503D3D, 10, 0.3, 0, 3);



    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}



    .label-tarjeta {
        -fx-text-fill: #2C2C2C;           /* Gris oscuro para buena legibilidad */
        -fx-font-size: 18px;
        -fx-font-weight: bold;
        -fx-font-family: "Roboto";
    }

.usuario-turno {
    -fx-opacity: 1;
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-padding: 0;

    -fx-border-color:white;
    -fx-border-width:3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 2);
}


