/* ===== TITLE BAR ===== */

.title-bar-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 4;
}

.title-bar-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 4;
    -fx-padding: 8 14 8 14;
}

.title-bar-btn:hover {
    -fx-background-color: derive(#8EB83D, -60%);
}

.title-bar-btn:pressed {
    -fx-background-color: derive(#8EB83D, -40%);
}

.title-bar-btn-close:hover {
    -fx-background-color: #c0392b;
}

.title-bar-btn-close:pressed {
    -fx-background-color: #922b21;
}